*{
    margin:0;
}

.header{
    position:fixed;
    border-style: solid;
    border-color: rgb(156, 218, 218);
    width:100%;
    height: 75px;
    font-family:'Roboto', sans-serif;
    z-index:100;
}
.common-h1{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 54px;
color:rgb(182, 255, 243);
background: #5b39f5;
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
}
.common-section{
    position:relative;
    padding-top:100px;
    padding-left:500px;
    font-size:28px;
    font-family: 'Roboto';
}
.common-section__letter{
   position:sticky;
   top: 130px;
    background-color: #590BFF;
    color:white;
    height:41px;
    width:1080px;
    border-style: solid;
    border-color: #FF710B;
}

.common-section-list{
    position: relative;
    z-index: 10;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}
.side-section{
    position:fixed;
    top:130px;
    left: 20px;
    font-family: 'Roboto',sans-serif;

}
.side-section__heading{
    font-family: 'Roboto'sans-serif;
    font-size: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
   padding-left: 40px;
}

.side-section__link{
    color:#FF710B;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-decoration-line: underline;
}